.card-category {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 200px;
  justify-content: center;
  margin-left: 30px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  width: 240px;
}

.card-category-content {
  align-items: flex-start;
  color: black;
  display: flex;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-category:hover {
  border-color: #0974f1;
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
}

.card-category-content img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
